{% extends '_base.html' %}
{% block content %}
{% load static %}
<div class="checkout_wrapper">
<form data-orderId="{{order.id}}" method="post" id="form" class="checkout_form">
    <div class="checkout_name">
        <input type="text" class="name_input" placeholder="Firstname" name="firstname"/>
         <input type="text" class="name_input" placeholder="Lastname" name="lastname"/>
    </div>
        <input class="checkout_input" type="email" placeholder="Email" name="email"/>
        <input class="checkout_input"  type="text" placeholder="Address" name="address"/>
        <input class="checkout_input"  type="number" placeholder="Zipcode" name="zipcode"/>
        <input class="checkout_input"  type="text" placeholder="Phone" name="phone"/>

    <button class="checkout_btn" type="submit">Confirm</button>
</form>
<div class="checkout">
    <div class="checkout_header">Checkout</div>
    <div class="checkout_books">
    <div class="checkout_items">
        <div class="item_title">Book</div>
        <div class="item_total">Total</div>
    </div>
    {% for item in items%}
     <div class="checkout_items">
        <div class="item_title">{{item.book.title}}</div>
        <div class="item_total">{{item.get_total_item}}DZA</div>
     </div>
    {% endfor %}
    </div>
    <div class="checkout_items">
        <div>Total</div>
        <div> {{cart_total}}DZA</div>
    </div>
</div>
</div>
<script type="text/javascript" src="{% static 'js/checkout.js' %}">
</script>
{% endblock %}