{% extends '_base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}

    <div class="books-containner">
    {% for book in books%}
    <div class="book_card">
      <img src="{{book.cover.url}}" class="book-img" alt="{book.title}">
      <div class="book_card-body">
        <h5 class="book-title">{{book.title}}</h5>
        <div class="book-inf">
            <p class="book-text">{{book.author}}</p>
            <p>{{book.price}}DZA</p>
        </div>
        <a href="{{book.get_absolute_url}}" class="btn card-btn">Detail</a>
      </div>
    </div>

    {% endfor %}
   </div>
{% endblock %}