{%extends '_base.html'%}
{% load static %}
{% block title %} {{book.title}} {% endblock %}
{% block content %}
<div class="book_wrapper book_boxshadow">
    <div class="left_div">
        <img  class="book_image"  src="{{book.cover.url}}"/>
    </div>
    <div class="right_div">
        <div class="right_div_header">
            <h2 class="book_title">{{book.title}}</h2>
            <button data-book="{{book.id}}" data-action="add" class="update_cart book_btn">add to cart</button>
        </div>
        <p class="book_author">by {{book.author}}, <span>{{book.date_published}}</span></p>
        <p class="book_price">{{book.price}} DZA</p>
        <p class="book_desc"> {{book.description}}</p>
    </div>
    </div>
</div>

<div class="review_wrapper">
       <form method="post" class="review_form" action="{% url 'reviewcreate' book.id %}">
        {%csrf_token%}
        <div>
           <input class="rating-input" type="number" name="rating" placeholder="rating"/>
        </div>
        <div>
            <input class="review-input" type="text" name="review" placeholder="review"/>
        </div>

       <button class="review_btn" type="submit">Create Review</button>
    </form>
    {% for review in book.reviews.all  %}
       <div class="review">
           <p class="review_owner">Review by {{review.owner}}</p>
           <p class="review_date">{{review.date_created | date}}</p>
           {% with ''|center:review.rating as range %}
            {% for index in range %}
                <i class="fa-solid fa-star"></i>
            {% endfor %}
           {% endwith %}

            <p>{{review.review}}<p>
       </div>
        {% endfor %}
    </div>

</div>
{% endblock %}