/* cart */
.cart_header{
    display:flex;
    width:90%;
    margin:1rem auto 3rem;
    justify-content:space-between;
    align-items:center;
    border: 1px solid lightgray;
    padding: 30px;
    box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
}
.checkout_btn{
    padding:8px 12px;
    background-color:rgba(0, 128, 0,0.9);
    outline:none;
    border:none;
    color:#FFF;
    border-radius: 4px;
    font-size:15px;
}
.checkout_btn:hover{
    background-color:rgb(0, 128, 0);
}
.items_wrapper{
    width:90%;
    margin:auto;
    border: 1px solid lightgray;
    padding: 30px;
    box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
}
.items, .item{
    display:flex;
    justify-content: center;
    align-items: center;

}
.item{
    margin-bottom:20px;
}
.items {
    border-bottom:1px solid lightgray;
    padding:0;
    margin-bottom:10px;

}
.items div p{
    margin-bottom:0px;
}
.item_title{
    flex:1.5;
}
.item_image img{
    height:70px;
    width:50px;
    }
.item, .item_image{
    flex:1;
}
.item_quantity{
    display:flex;
    align-items:center;
}
.icon_quantity{
display:flex;
flex-direction:column;
align-items:center;
}

/*nav.html */
nav{
    background-image: linear-gradient(to right, black , #585858);
}
.nav-link,.navbar-brand{
    color:#fff;
}
.nav-link:hover,.navbar-brand:hover{
    color:#FF7F50;
}

.navbar-nav{

    position:absolute;
    right:30px;
}
.nav_count{
    display:flex;
}
.cart_counter{
    position:relative;
    top:-2px;
    left:-10px;
    color:red;
    height:fit-content;
    padding: 1px 4px;
    border-radius: 50%;
    background-color:red;
    color:#FFF;
    font-size:10px;

}
/* _base.html */

.container_wrapper{
    padding: 2rem;
}

/* book_list */

.books_wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
}
.book_card{
    max-width:300px;
    height:400px;
    padding:30px;
    border:1px solid lightgray;
    text-align:center;

}
.books_img{
    height:150px;
    width: 100px;
}
.books_title{
    font-size:18px;
    font-weight:400;
    margin-top:20px;
}
.books_author{
    font-size:15px;
    font-weight:400;
}
.books_price{
    font-size:15px;
    color:#960018;
}
.books_btn{
    padding:5px 10px;
    background-color:#28a745;
    color:#fff;
    outline:none;
    border:none;
    border-radius:4px;
}
.books_btn:hover{
    background-color:#00a42c;
}
/* book_detail.html */
.book_wrapper{
    display:flex
}
.book_boxshadow{
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
}
.left_div{
   flex:0.3;
   padding:20px
}
.book_image{
    height:100%;
    width:100%;
}
.right_div{
    flex:0.7;
    padding:20px;
}
.right_div_header{
    display:flex;
    justify-content:space-between;
}
.book_btn{
    padding:5px 10px;
    background-color:#28a745;
    color:#fff;
    outline:none;
    border:none;
    border-radius:4px;
}
.book_btn:hover{
    background-color:#00a42c;
}
.book_title{
    font-size:25px;
    font-weight:500;
    margin-bottom:1rem;
    color:#282828;
}
.book_author{
    font-size:20px;
    font-weight:400;
    margin-bottom:1rem;
}
.book_price{
    font-size:20px;
    font-weight:500;
    color:#960018;
    margin-bottom:1rem;
}
.book_desc{
    font-size:15px;
    color:#484848;
}

.review_form{
    padding:20px;
    margin:35px;
    background-color:rgb(248,248,248);
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    text-align:center;
}
.review_form input{
   border:none;
   margin-bottom:2rem;
   height:35px;
   width:80%
}
.review_btn{
    border:none;
    outline:none;
    padding: 10px 15px;
    background-color:#28a745;
    color:#fff;
    border-radius:4px;
}
.review_btn:hover{
    background-color:#00a42c;
}
.review{
    padding:20px 35px;
}
.review_owner{
    font-size:20px;
    font-weight:400;
    margin-bottom:5px;
}
.review_date{
    margin:0;
    font-size:14px;
    font-weight:500;
}
.fa-star{
    color:rgb(245,199,26);
}
/* checkout */

.checkout_wrapper{
    display:flex;
    padding:20px;
    justify-content:space-between;
}
.checkout_form{
    flex:0.58;
    padding:20px;
       border: 1px solid lightgray;
    box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
}
.checkout{
    flex:0.4;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
}
.checkout_name{
    display: flex;
    width:100%;
    justify-content:space-between;
}
.name_input{
    width:49%;
    height:35px;
    margin-bottom:2rem;
}
.checkout_input{
    width:100%;
    height:35px;
    margin-bottom:2rem;
}
.checkout_btn{
    border:none;
    outline:none;
    padding: 10px 15px;
    background-color:#28a745;
    color:#fff;
    border-radius:4px;
}
.checkout_btn:hover{
    background-color:#00a42c;
}
.checkout{
    height:fit-content;
    padding:20px;
}
.checkout_header{
    font-size:18px;
    font-weight:400;
    width:100%;
    border-bottom: 1px solid lightgray;
    margin-bottom:1rem;
}
.checkout_items{
    display:flex;
    justify-content:space-between;
}
.checkout_items div{
    margin-bottom:0.5rem;
    font-size:15px;
    font-weight:400;
}
.checkout_books{
    border-bottom:1px solid lightgray;
    margin-bottom:1rem;
}
.success_container{
    position:absolute;
    margin:auto;
    top:30%;
    left:30%;
    padding:40px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(176,176,176,0.75);
}
.success_btn{
    color:#28a745;
    text-decoration:none;
    position:absolute;
    right:25px;

}